# Core
Flask==3.0.2
gunicorn==21.2.0
numpy==2.1.2
opencv-python-headless==4.10.0.84
Pillow==10.3.0

# Torch CPU nightly (Python 3.13 compatible)
--index-url https://download.pytorch.org/whl/nightly/cpu
torch
torchvision
torchaudio

# YOLOv8
ultralytics==8.3.25

# Utils
requests
tqdm
